<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prosu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{template "css_files" .}}
</head>

<body>
  {{template "navbar" .}}
  <div class='container'>
    <center>
      <br>
      <div class="row">
        <div class='col-sm-2 col-md-3'></div>

        <div class='col-sm-8 col-md-6'>
          <h1 class='display-4'>Prosu for Twitter</h1><br>
          <p style='text-align: center; font-size: 20px'>
            Have an image containing how your osu! stats have changed posted to your Twitter account!
          </p>
          <br>
          {{if .IsAuthenticated}}
          <a href='/settings' class='btn btn-success btn-lg'>
            {{.Translations.SettingsButtonText}}
          </a>
          {{else}}
          <a href='/connect/twitter' class='btn btn-info btn-lg' style='background-color: #F6A; border-color: #F6A !important;'>
            {{.Translations.Navbar.SignIn}}
          </a>
          {{end}}
          <br>
          <p style='font-size: 25px; padding-top: 20px;'>
            <span style='color: #F6A'>{{.TotalUsers}}</span> {{.Translations.TotalUsers}}<br>
            <span style='color: #F6A'>{{.TotalTweets}}</span> {{.Translations.TotalTweets}}
          </p>
          <a href='/privacy'>Privacy Policy</a>
          <br>
          <a href='https://github.com/wcalandro/prosu-go'>Check out the source on GitHub</a>
        </div>
        <div class='col-sm-1 col-md-3'></div>
      </div>
    </center>
  </div>

  {{template "js_files" .}}
</body>

</html>
