<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prosu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{template "css_files" .}}
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style='background-color: #F6A !important;'>
    <a class="navbar-brand" href="/">Prosu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class='container'>
    <center>
      <br>
      <div class="row">
        <div class='col-sm-2 col-md-3'></div>

        <div class='col-sm-8 col-md-6'>
          <h1 class='display-4'>Privacy Policy</h1><br>
          <p style='text-align: justify; font-size: 15px'>
            When you sign in to Prosu for Twitter using your Twitter account, Prosu for Twitter collects very basic
            information about your account, such as your account ID, your username on Twitter, and a set of tokens that
            allow Prosu for Twitter to
            post Tweets to your account if enabled within your settings on Prosu for Twitter. The site does not collect
            or store
            email addresses, passwords, or other personal information. If you would like to request the information
            that is stored about you in the datbase, or you would like to have your account information deleted, please
            reach out to <a href='mailto:prosu@arm1stice.com'>prosu@arm1stice.com</a>
            and you will receive a response. If you would like to disable Tweeting, you can do so from your settings on
            Prosu for Twitter, or you can manually invalidate the tokens used to post to your account on Twitter's
            website.
          </p>

        </div>
        <div class='col-sm-1 col-md-3'></div>
      </div>
    </center>
  </div>

  {{template "js_files" .}}
</body>

</html>