<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Prosu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {{template "css_files" .}}
</head>

<body>
  {{template "navbar" .}}
  <div class='container'>
    <center>
      <br>
      <div class="row">
        <div class='col-sm-1 col-md-3'></div>

        <div class='col-sm-10 col-md-6'>
          <h1 class='display-4'>{{.Translations.SettingsHeader}}</h1>
          <br>
          <h3>{{.Translations.TweetPostingText}} 
          {{if .User.OsuSettings.Enabled}}
            <span style='color:green'>{{.Translations.TweetPostingStatusEnabled}}</span>
          {{else}}
            <span style='color:red'>{{.Translations.TweetPostingStatusDisabled}}</span>
          {{end}}
          </h3>
          {{if .User.OsuSettings.Enabled}}
          {{if eq .User.OsuSettings.Player ""}}
          <span style='color:red'>{{.Translations.NoDataWarning}}</span>
          {{end}}
          <br>
          <br>
          {{range .ErrorFlash}}
            <div class="alert alert-danger" role="alert">
              {{.}}
            </div>
          {{end}}
          {{range .SuccessFlash}}
            <div class="alert alert-success" role="alert">
              {{.}}
            </div>
          {{end}}
          <form action='/settings/update' method='post'>
            <p style='font-size: 20px'>{{.Translations.OsuUsernameText}}</p>
            {{if eq .User.OsuSettings.Player ""}}
            <input type="text" class="form-control" id="osu_username" name="osu_username" placeholder={{.Translations.OsuUsernamePlaceholder}} autocomplete="off" style="cursor: auto;">
            {{else}}
            <input type="text" class="form-control" value={{.OsuPlayer.PlayerName}} id="osu_username" name="osu_username" placeholder={{.Translations.OsuUsernamePlaceholder}} autocomplete="off" style="cursor: auto;">
            {{end}}
            <br>
            <p style='font-size: 20px'>{{.Translations.GameModeText}}</p>
            <select id='mode' name='game_mode' class="form-control">
              {{range $i, $a := .Modes}}
                {{if eq $i $.User.OsuSettings.Mode}}
                  <option value={{$i}} selected>{{$a}}</option>
                {{else}}
                  <option value={{$i}}>{{$a}}</option>
                {{end}}
              {{end}}
            </select>
            <br>
            <button type='submit' class='btn btn-success btn-lg'>
              {{.Translations.UpdateSettingsButton}}
            </button>
          </form>
          <br>
          <form action='/settings/disable' method='post'>
            <button type='submit' class='btn btn-danger btn-sm'>
              {{.Translations.DisableTweetPosting}}
            </button>
          </form>
          {{else}}
          <form action='/settings/enable' method='post'>
            <button type='submit' class='btn btn-success btn-lg'>
              {{.Translations.EnableTweetPosting}}
            </button>
          </form>
          {{end}}
        </div>
        <div class='col-sm-1 col-md-3'></div>
      </div>
    </center>
  </div>

  {{template "js_files" .}}
</body>

</html>